@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --black: #1a1a1a;
 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  
}

